#block-pushtape-kickstart-help-pushtape-kickstart-ressources {
  float: right;
}

#block-pushtape-kickstart-help-pushtape-kickstart-community {
  float: left;
}

#block-pushtape-kickstart-help-pushtape-kickstart-ressources h2, #block-pushtape-kickstart-help-pushtape-kickstart-community h2 {
  background: transparent url("../images/help-lg.png") no-repeat right 0;
  padding: 5px 40px 5px 0px;
}

#block-pushtape-kickstart-help-pushtape-kickstart-ressources .content,
#block-pushtape-kickstart-help-pushtape-kickstart-community .content {
  padding-right: 40px;
  padding-left: 0px;
}
